<h1></h1>

<div id="create_in_or_ex" class="d-flex flex-column">
  <input type="text" required id="create-in-or-ex-type" placeholder="Тип...">
  <input type="text" required id="create-in-or-ex-category" placeholder="Категория...">
  <input type="number" required id="create-in-or-ex-sum" placeholder="Сумма в $...">
  <input type="date" required id="create-in-or-ex-date" placeholder="Дата yyyy-mm-dd...">
  <input type="text" id="create-in-or-ex-comment" placeholder="Комментарий...">

  <div id="create_expense_buttons">
    <button id="btn-create" class="btn btn-success">Создать</button>
    <button id="btn-go-back" class="btn btn-danger">Отмена</button>
  </div>


</div>






